@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@200;300;400;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Title Section */
.navbar
{
    padding: 1rem 3rem;
}
.navbar-brand
{
    font-weight: 700;
    font-size: 30px;
}
#brand-span
{
    color: #3AB0FF;
}
.nav-link
{
    font-weight: 600;
    font-size: 15px;
}
.btn
{
    font-size: 15px;
}
.banner-grid-img-1
{
    width: 80%;
    border-radius: 10px;
}
.banner-row
{
    padding: 3rem 0;
}
.contact-flex
{
    display: flex;
    gap: 1rem;
}
.social-icons
{
    display: flex;
    gap: 1rem;
}
.banner-row h1
{
    width: 70%;
    font-weight: 600;
}
h5
{
    font-size: 16px;
    width: 80%;
    color: #3AB0FF;
    font-weight: 600;
}
.banner-row p
{
    font-size: 15px;
    width: 90%;
    font-weight: 600;
    opacity: .7;
}

@media screen and (max-width:992px) {
    .img-col
    {
        text-align: center;
        padding: 2rem 0;
        width: 80%;
    }
    .banner-row h1
    {
        text-align: center;
        margin: auto;
        width: 60vw;
        font-size: ;
    }
    .navbar-brand
    {
        font-size: clamp(1rem, 2.5vw, 2rem) ;
    }
    .col-lg-5 p
    {
        text-align: center;
        margin: auto;
        padding-bottom: 10px;
    }
    .col-lg-5 h5
    {
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 10px;
    }
    .contact-flex
    {
        justify-content: center;
    }
}
@media screen and (max-width:576px) {
    .banner-row h1
    {
        width: 80%;
        font-size: 35px;
        font-weight: 700;
        padding: 1rem 0;
    }
}

/* Service section */
.col-lg-4
{
    padding: 2rem 3rem;
}
.grid-icons
{
    width: 30px;
    text-align: center;
    margin: auto;
}
.service-section h3
{
    font-weight: 600;
}
.service-section h5
{
    margin: auto;
    padding: 5px 0;
}
.service-section p
{
    width: 80%;
    margin: auto;
}
.service-section a
{
    font-size: 12px;
    font-weight: 600;
}
.service-section
{
    background-color: aliceblue;
    padding: 2rem 0;
}

/* About Section */
.about h3
{
    font-weight: 600;
}
.about-us p
{
    width: 100%;
}
.about-us
{
    padding: 3rem;
    margin: auto;
}

/* About Grid */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 6; }
    .div3 { grid-area: 2 / 3 / 3 / 6; }

.about-grid-img
{
    width: 86%;
}
.about-grid-img-1
{
    width: 100%;
    border-radius:10px 0 0  10px ; 
}
.about-grid
{
    padding: 0rem 5rem;
    width: 80%;
    margin: auto;
}
#img1
{
    
    border-radius:0 10px 0 0;
}
#img-2
{
    
    border-radius:0 0  10px 0;
}
